
@{
    ViewBag.Title = "GioiThieu_63135896";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Thông tin sinh viên</h1>
<table>
    <tr>
        <th>Mã sinh viên</th>
        <td>63135896</td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td>Đàm Viết Trọng</td>
    </tr>
    <tr>
        <th>Lớp</th>
        <td>63.CNTT-5</td>
    </tr>
    <tr>
        <th>Ngày kiểm tra</th>
        <td>3/11/2023</td>
    </tr>
</table>
