@model IEnumerable<ThiGKTrong_63135896.Models.DIEMDULICH>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GioiThieu_63135896</title>
</head>
<body>
    <p>
        @Html.ActionLink("Giới thiệu", "GioiThieu_63135896") |
        @Html.ActionLink("Thêm mới", "ThemMoi") |
        @Html.ActionLink("Danh sách", "DanhSach") |
        @Html.ActionLink("Tìm kiếm", "DanhSach")
    </p>
    <h2>THÔNG TIN SINH VIÊN</h2>
    <table>
        <tr>
            <td>Mã sinh viên</td>
            <td>63135896</td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td>Đàm Viết Trọng</td>
        </tr>
        <tr>
            <td>Lớp</td>
            <td>63.CNTT-5</td>
        </tr>
        <tr>
            <td>Ngày kiểm tra</td>
            <td>03-11-2023</td>
        </tr>
    </table>
</body>
</html>
