
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <ul>
            <li>Pham Lan <b>63.CNTT-4</b></li>
            <li>Nguyen Tuan <b>63.CNTT-5</b></li>
            <li>Tran Hung <b>63.CNTT-5</b></li>
        </ul>
    </div>
</body>
</html>
