@model List<Đàm_Viết_Trọng.Models.Item>
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var i in Model)
            {
                <li>@i.id <i>@i.name</i> @i.Image</li>
            }
        </ul>
        @Html.ActionLink("Solo Leveling", "Details", "ItemSell");
    </div>
</body>
</html>
